/* whole */
body {
  display: flex;
  justify-content: center;
  background: url(https://media.istockphoto.com/illustrations/view-from-the-inside-of-the-cave-illustration-id690817022?k=6&m=690817022&s=612x612&w=0&h=vZExzqef_UvPuhbXfaxx4VwPlHk5DaRhVLcJM-atDok=) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Teko', sans-serif;
}
.background{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: auto;
  width: auto;
}
h1 {
  color: yellow;
  font-size: 350%;
}

/* buttons */
.start {
  text-decoration: none;
  color: yellow;
  background-color: transparent;
  font-size: 350%;
  font-family: 'Teko', sans-serif;
}

.yes {
  text-decoration: none;
  color: yellow;
  background-color: transparent;
  font-size: 250%;
  font-family: 'Teko', sans-serif;
}

/* screens */

#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 480px;
  border: 20px solid grey;
  background: rgb(51,157,85);
  background: radial-gradient(circle, rgba(51,157,85,1) 0%, rgba(2,0,36,1) 100%);
}
.firstScreen {
  display: none;
  flex-direction: column;
  width: 400px;
  color: yellow;
  font-size: 25px;
}

.secondScreen {
  display: none;
  flex-direction: column-reverse;
  justify-content: start;
  color: yellow;
  font-size: 25px;
  height: 200px;
  width: 200px;
}


.prompt1{
  font-size: 25px;
  display: flex;
  justify-content: start;
}
.message{
  color: yellow;
  font-size: 25px;
  height: 200px;
  width: 200px;
}

.prompt2{
  color: yellow;
  font-size: 25px;
  height: 200px;
  width: 200px;
}
input {
  border-color: 10px black;
}

.thirdScreen {
  display: none;
  flex-direction: column-reverse;
  justify-content: start;
  color: yellow;
  font-size: 25px;
  height: 200px;
  width: 200px;
}


